body{
    background: #2a2f3d;
    color: #FFFFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Estilo del logo */
#logo {
    background-color: white;
    width: fit-content;
    border-radius: 10px;
    position: absolute;
    margin: 5px;
    color: white;
}

#logo:hover{
    scale: 1.1;
    left: 1%;
    box-shadow: #FFF 0px 2px 3px;
}

p,li {
    font-size: large;
}

/* CSS de los contenedores de las practicas */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round");
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");

div .paper{
    font-size: 9px;
}

ul li.paper{
    left: 0;
}

div h3{
    margin: 0;
}

.container{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    font-family: "Varela Round",sans-serif;
    line-height: 1.5em;
    color: black;
}

.item{
    --color: #f39200e1;
    width: 185px;
    background-color: var(--color);
    border-radius: 10px;
    padding: 10px 5px;
    box-shadow: 
        #FFFFFF 0px 1px 2px 0px;
    position: relative;
    cursor: pointer;
}

.item::after{
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 2;
    height: 80%;
    box-sizing: border-box;
    border-style: solid;
    border-color:  transparent transparent transparent var(--color);
    border-width: 40px 40px 40px 40px;
    filter: drop-shadow(5px 0 4px #00000094);
    transition: after .5s;
}

.item:nth-child(2){
    --color: #1d3ed3;
}

.item:nth-child(3){
    --color: #088a2f;
}

.layer{
    background-color: #f2f2f2;
    border: 1px solid #FFFF;
    border-radius: inherit;
    padding: 20px;
    box-shadow: 
        #00000012 0px 1px 2px,
        #00000012 0px 2px 4px, 
        #00000012 0px 4px 8px,
        #00000012 0px 8px 16px,
        #00000012 0px 16px 32px,
        #00000012 0px 32px 64px;
        position: relative;
        left: 10px;
        transition: left 1s;
}

div h3{
    font-weight: 700;
    text-align: center;
    color: var(--color);
}

.paper{
    color: #555;
}

span.carpeta{
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: var(--color);
    border-radius: 50%;
    display: grid;
    place-content: center;
    box-shadow: 
        #00000012 0px 1px 2px,
        #00000012 0px 2px 4px,
        #00000012 0px 4px 8px,
        #00000012 0px 8px 16px,
        #00000012 0px 16px 32px,
        #00000012 0px 32px 64px;
    font-size: 14px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.item:hover .layer{
    filter: drop-shadow(5px 0 4px #0000001a);
}

.item:hover .layer{
    left: 50px;
}
